button.ve-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
button.ve-secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}
button.ve-positive {
    background-color: var(--color-positive);
    border-color: var(--color-positive);
}
button.ve-negative {
    background-color: var(--color-negative);
    border-color: var(--color-negative);
}
button.ve-warning {
    background-color: var(--color-warning);
    border-color: var(--color-warning);
}
button.ve-info {
    background-color: var(--color-info);
    border-color: var(--color-info);
}
button.ve-light {
    background-color: var(--color-light);
    border-color: var(--color-light);
}
button.ve-dark {
    background-color: var(--color-dark);
    border-color: var(--color-dark);
}