:root {
    --color-primary: hsl(224, 91%, 55%);
    --color-secondary: hsl(208, 10%, 28%);
    --color-positive: hsl(148, 75%, 43%);
    --color-negative: hsl(2, 76%, 54%);
    --color-warning: hsl(55, 72%, 55%);
    --color-info: hsla(204, 72%, 55%);
    --color-light: hsl(150, 6%, 93%);
    --color-dark: hsl(228, 100%, 2%);
}
